<section class="nav_bar">
    <nav class="navbar fixed-top navbar-expand-md bg-light" id="mainNav">
        <div class="container">
            <a class="px-3 navbar-brand text-white cursorp"><img src="../assets/images/logo.png" routerLink=""
                    height="100px" class="imgProp w-100" alt=""></a>
            <button class="navbar-toggler" id="menu-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon h-100">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 px-md-0 px-lg-0">
                    <li class="nav-item">
                        <a class="nav-link cursorp" routerLink="" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursorp" routerLink="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursorp" routerLink="">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-dark" href="#">Acs Chappala</a></li>
                            <li><a class="dropdown-item" href="#">Acs Online Services</a></li>
                            <li><a class="dropdown-item" href="#">Acs Data Analysis</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursorp" routerLink="">Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursorp" routerLink="">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<!-- <section id="data" class="data">
    <div class="container">
        <h3 class="secTitle text-center pb-5">Data Analysis</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card h-100">
                    <div class="iconbox">
                        <div class="iconwrapper">
                            <i class="fa-solid fa-closed-captioning"></i>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Captioning</h5>
                        <p class="card-text">Captions (called “subtitles” in some areas) provide content to people who
                            are Deaf and hard-of-hearing. Captions are a text version of the speech and non-speech audio
                            information needed to understand the content. They are synchronized with the audio and
                            usually shown in a media player when users turn them on.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card h-100">
                    <div class="iconbox">
                        <div class="iconwrapper">
                            <i class="fa-solid fa-language"></i>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Translation</h5>
                        <p class="card-text">Translation process involves both decoding and encoding. Appropriate
                            language means finding suitable equivalence. Translation services provide the ability for
                            two parties to communicate and exchange ideas from different countries. A protector of
                            cultural heritage, and essential to the development of a global economy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card h-100">
                    <div class="iconbox">
                        <div class="iconwrapper">
                            <i class="fa-solid fa-audio-description"></i>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Audio Description</h5>
                        <p class="card-text">Audio description is defined as “the verbal depiction of key visual
                            elements in media and live productions.” The description of media involves the interspersion
                            of AD snippets within the program’s original audio components, just like the example above.
                            This is to allow the individual the benefit of the description, without sacrificing the
                            information in the existing content.
                        </p>
                        <p class="card-text">
                            The World Wide Web Consortium (W3C) lists several sufficient techniques for adding
                            description to audio-visual material. All of these methods are reliable ways to meet the
                            WCAG Success Criterion.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card h-100">
                    <div class="iconbox">
                        <div class="iconwrapper">
                            <i class="fa-solid fa-text-width"></i>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Typing</h5>
                        <p class="card-text">Typists are responsible for typing documents and written materials for a
                            range of company. Skills needed to be a Typist is Efficient and pay attention to detail in
                            the datas
                        </p>
                        <p class="card-text">
                            Can use computer software packages, including Word, Excel and PowerPoint. Are a good
                            communicator. Produce neat and well presented the work
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card h-100">
                    <div class="iconbox">
                        <div class="iconwrapper">
                            <i class="fa-brands fa-leanpub"></i>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Epub</h5>
                        <p class="card-text">Typists are responsible for typing documents and written materials for a
                            range of company. Skills needed to be a Typist is Efficient and pay attention to detail in
                            the datas
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card h-100">
                    <div class="iconbox">
                        <div class="iconwrapper">
                            <i class="fa-solid fa-arrow-up-z-a"></i>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Conversion</h5>
                        <p class="card-text">RS Infosolution offers a comprehensive range of services for data
                            conversions and content digitization. We capture data from all
                            types of handwritten forms accurately, rapidly, and cost‐effectively and convert them into a
                            powerful MANAGEMENT resource. We
                            also we handle content digitization services which involve conversion of printed matter to
                            electronic formats.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="data" class="data">
    <div class="container">
        <h3 class="secTitle text-center pb-5">Data Analysis</h3>
        <div class="row g-md-0 g-sm-2">
            <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <img src="../../assets/images/bg43.jpg" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
                <div class="forCenter p-4">
                    <h3>Captioning</h3>
                    <p>Captions (called “subtitles” in some areas) provide content to people who are Deaf and
                        hard-of-hearing. Captions are a text version of the speech and non-speech audio information
                        needed
                        to understand the content. They are synchronized with the audio and usually shown in a media
                        player
                        when users turn them on.
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <div class="forCenter p-4">
                    <h3>Subtitling</h3>
                    <p>Subtitles are the appearing text, overlaid on a video expressing the spoken part of that video.
                        Those are the translated versions of a video’s transcription, intended to provide the viewer
                        with a real-time experience of what is happening on screen. Subtitles usually are seen as text
                        on the bottom of the screen.
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
                <img src="../../assets/images/bg42.jpg" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <img src="../../assets/images/bg44.jpg" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
                <div class="forCenter p-4">
                    <h3>Translation</h3>
                    <p>Translation process involves both decoding and encoding. Appropriate language means finding
                        suitable equivalence. Translation services provide the ability for two parties to communicate
                        and exchange ideas from different countries. A protector of cultural heritage, and essential to
                        the development of a global economy.
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <div class="forCenter p-4">
                    <h3>Audio Description</h3>
                    <p>Audio description is defined as “the verbal depiction of key visual elements in media and live
                        productions.” The description of media involves the interspersion of AD snippets within the
                        program’s original audio components, just like the example above. This is to allow the
                        individual the benefit of the description, without sacrificing the information in the existing
                        content.
                    </p>
                    <p>
                        The World Wide Web Consortium (W3C) lists several sufficient techniques for adding description
                        to audio-visual material. All of these methods are reliable ways to meet the WCAG Success
                        Criterion.
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
                <img src="../../assets/images/bg45.jpg" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <img src="../../assets/images/bg41.jpg" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
                <div class="forCenter p-4">
                    <h3>Typing</h3>
                    <p>Typists are responsible for typing documents and written materials for a range of company. Skills
                        needed to be a Typist is Efficient and pay attention to detail in the datas
                    </p>
                    <p>
                        Can use computer software packages, including Word, Excel and PowerPoint. Are a good
                        communicator. Produce neat and well presented the work
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <div class="forCenter p-4">
                    <h3>Epub</h3>
                    <p>We have expertise in conversion of — Enhanced eBooks ePub3 iBooks Author Widget Creation HTML5
                        based learning material development Flash to HTML5 Conversion, Website Development Web Portal
                        Developmen Interactive books creation
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
                <img src="../../assets/images/bg46.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<footer class="footer d-flex align-items-center" id="footer">
    <div class="container">
        <div class="row g-4 p-2 row-cols-sm-3 row-cols-md-4 ">
            <div class="col-md-4">
                <h3 class="mb-4">
                    Acs Global Ventures
                </h3>
                <p>
                    An application developer’s typical responsibilities include coding, designing, application
                    management,
                    troubleshooting, monitoring updates and possible security threats, and providing end user support.
                </p>
            </div>
            <div class="col-md-4">
                <h6>
                    Quick Links
                </h6>
                <ul>
                    <li><a class="cursorp" routerLink="">Home</a></li>
                    <li><a class="cursorp" routerLink="">About</a></li>
                    <li><a class="cursorp" routerLink="">Services</a></li>
                    <li><a class="cursorp" routerLink="">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>
                    Contact Information
                </h6>
                <ul>
                    <li><span class="iconcontainer"><i class="fa-solid fa-location-arrow"></i></span>Johnson Complex,
                        Kandanvilai,<br />
                        Kanyakumari Dist,<br />Tamil Nadu, India</li>
                    <li><span class="iconcontainer"><i class="fa-solid fa-phone"></i></span><a
                            href="tel:+919486020203">94860
                            20203</a></li>
                    <li><span class="iconcontainer"><i class="fa-solid fa-envelope"></i></span><a
                            href="mailto:acsglobalventures2021@gmail.com">acsglobalventures2021@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <p class="text-center">This website is made with <span><i class="fa-solid fa-heart"></i></span> by
                    <a href="https://rsinfosolution.in/" class="text-light">Rsinfosolution</a>
                </p>
            </div>
        </div>
    </div>
</footer>