<section class="about" id="about">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 dflex-end imgContainer p-5">
                <h4 class="aboutTitle">About Us</h4>
            </div>
            <div class="col-md-6 dflex-end">
                <div class="p-md-5 p-4">
                    <p class="fw-bold">ACS DATA Analysis is a leading provider of digitization services. Digitization
                        makes document
                        management easy, thereby helping professionals and executives in saving time and energy, which
                        they
                        would otherwise spend on storing and retrieving critical data. At ACS DATA Analysis, we deliver
                        professional digitization services, allowing you to promote easy data transfer among a large
                        number
                        ofrecipients.</p>
                    <p><i class="fa-solid fa-arrow-right-long"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="whatWeDo dflex">
        <div class="container">
            <div class="row">
                <div class="col-md-7 offset-md-5 align-self-end">
                    <div class="doContent p-md-5 p-4">
                        <h4 class="mb-4 aboutTitle">What We Do</h4>
                        <!-- <h5 class="tagline mb-5">Acs Global Ventures</h5> -->
                        <p>
                            We provide end-to-end digitization services and have created a strong track record in the
                            industry with
                            a
                            portfolio of more than 2000 satisfied customers. With good years of experience in the
                            industry, we have
                            created a prominent position, helping businesses with the efficient management of data. Our
                            key
                            strengths
                            are our established processes, dedicated workforce, commitment to 24/7 customer support, and
                            advanced
                            technologies. These factors empower usto delivertop quality servicesto our clients.
                        </p>
                        <p>We can convert technical documents, journals, newsletters, magazines, directories, and more
                            to serve the needs of various eBook publishing platforms. Our services are designed to
                            facilitate conversion in different file formats, such as Word, Excel, Text, XML, and RTF
                            into PDF; PDF to HTML, HTML to XML, XHTML to XML, and PSD to HTML</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team" id="team">
        <div class="container">
            <h2 class="text-center mb-5">Our perfect <b>Team</b></h2>
            <div class="row">
                <div class="col">
                    <div class="card dflex">
                        <img src="../../assets/images/t3.jpeg" class="imgProp rounded-circle" width="200px"
                            height="200px" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title fw-bold">Mr.Chinu Johnson</h4>
                            <h5 class="card-title">CEO</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card dflex">
                        <img src="../../assets/images/t1.jpeg" class="imgProp rounded-circle" width="200px"
                            height="200px" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title fw-bold">Mr.Mohammed Shafan</h4>
                            <h5 class="card-title">CFO</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card dflex">
                        <img src="../../assets/images/t2.jpeg" class="imgProp rounded-circle" width="200px"
                            height="200px" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title fw-bold">Miss Jini</h4>
                            <h5 class="card-title">Project Co coordinator</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>