#online {
  padding: 4rem 0;
  background-color: #e6e6e6;
}

#online .card {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s all ease-in;
}

#online .card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#online img {
  border-radius: 12px 12px 0 0;
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
}

h5 {
  font-weight: 600;
}

.textWrapper {
  min-width: 55px;
}

.otherservice .card {
  min-height: 110px;
  border: 0;
}

.otherservice h5 {
  margin-bottom: 3px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 15px;
}

.otherservice h4 {
  font-weight: 600;
}

.forbg {
  border-radius: 12px 0 0 12px;
  // background-color: #0962ea;
  background-color: #001D6E;
}


$primary-color: #0962ea;
$primary-color2: #0042ff;
$primary-color3: #120078;
$grad: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
$text-color1: #c0c0c0;

.navbar {
  background-color: transparent !important;
  transition: 0.5s all ease-in;
  min-height: 110px;
}

.navbar li a {
  color: #fff;
  font-weight: 600;
}

.nav-link {
  transition: 0.3s all ease-in;
}

.navbar-toggler {
  color: #3330E4;
  font-size: 27px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-shrink {
  background-color: #fff !important;

  .nav-link {
    color: #0962ea !important;
  }

  .nav-link:hover {
    color: #111111 !important;
  }
}

.cursorp {
  cursor: pointer;
}

@media (max-width: 767px) {
  nav {
    background-color: #f8f9fa !important;
  }

  

  .navbar li a {
    color: #111111 !important;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

#footer {
  padding: 5rem 0;
  padding-bottom: 4rem;
  background-color: $primary-color;
  // background-color: #111111;
  color: rgba(255, 255, 255, .5);
}

#footer p {
  font-size: 15px;
}

#footer h3,
h6 {
  color: #fff;
}

#footer ul {
  padding-left: 0;
  list-style: none;
}

#footer ul li {
  display: table;
  margin: 18px 0;
  transition: all .3s ease-in-out;
  transition: 0.3s all ease;
  word-break: break-word;
}

#footer ul li .iconcontainer i {
  font-size: 16px;
}

#footer ul li:hover {
  color: #fff;
}

#footer .iconcontainer {
  display: table-cell;
  vertical-align: top;
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: #fff;
}

.back-to-top {
  position: fixed;
  display: table;
  background: #3330E4;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: all 0.5s ease;
  z-index: 11;
  opacity: 0;
}

.back-to-top i {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.show-scrollTop {
  opacity: 1 !important;
  transition: all 0.8s ease;
}

section {
  overflow: hidden;
}