body {
    position: relative;
    font-family: "poppins", sans-serif;
    font-size: 15px !important;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

nav {
    height: 70px;
    z-index: 999;
}

.imgProp {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.secTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.bg-black {
    background-color: #121212;
}

* {
    font-family: "poppins", sans-serif;
}